.sidebar {
  width: 300px;
  margin-right: 30px;
  border: 2px dashed var(--color-primary);
  border-radius: 30px;
  padding: 20px;
}

.sidebar div {
  display: flex;
  align-items: center;
  color: var(--color-primary);
  margin-bottom: 15px;
}

.sidebar div svg {
  font-size: 1.3rem;
  margin-right: 5px;
}

.sidebar div span {
  color: grey;
  margin-left: 10px;
}

.sidebar button {
  width: 100%;
  margin-top: 40px;
  background-color: var(--color-primary);
  color: var(--color-backGround);
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 5px;
  cursor: pointer;
}
