:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --color-primary: #fe5d42;
  --color-secondary: #e2e2e2;
  --color-backGround: #fff;
}

body {
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  background-color: #f9fafc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}
