.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-backGround);
  padding: 10px 20px;
  margin: 0 10px 20px;
  border-radius: 10px;
}

.header a {
  font-size: 1.5rem;
  font-weight: 600;
}

.header div {
  font-size: 1.6rem;
  background-color: var(--color-backGround);
  color: var(--color-primary);
  text-align: center;
  height: 35px;
  width: 35px;
  border-radius: 9px;
  padding: 2px;
  position: relative;
}

.header span {
  font-size: 0.9rem;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: var(--color-backGround);
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}

.footer {
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-backGround);
  padding: 20px;
  margin: 10px;
  margin-top: 80px;
  border-radius: 10px;
}
